body {
  font-family: Arial, sans-serif;
  background-color:  #2080b9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 400px;
  margin: 1 auto;
  padding: 20px;
}

.filters {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;

}


label {
  font-weight: bold;
}

select {
  padding: 5px;
  margin-left: 10px;
}

.doctor-profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Exactly 2 columns for doctor profiles */
  grid-gap: 20px; /* Space between profiles */
}

.doctor-profile {
  display: flex;
  background-color: #f9f9f9;
  padding: 15px; /* Adjust padding for larger cards */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctor-image {
  width: 200px; /* Larger image */
  height: 200px;
  border-radius: 30%;
  margin-right: 20px; /* Increased margin */
}

.doctor-info {
  display: flex;
  flex-direction: column;
}

.doctor-info h2 {
  font-size: 18px; /* Larger font size */
  margin: 0;
}

.doctor-info p {
  margin: 5px 0;
}

button {
  padding: 10px; /* Larger button padding */
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Larger button text */
}

.view-profile {
  background-color: #4CAF50;
  color: white;
}

.book-now {
  background-color: #008CBA;
  color: white;
}
